.Die {
    font-size: 10em;
    padding: 0.25em;
    color: #E3E6D4;
}



.shaking {
    animation-name: wobble;
    animation-duration: 1.5s;
}



.fa-dice-one:before, .fa-dice-two:before, .fa-dice-three:before, .fa-dice-four:before, .fa-dice-five:before, .fa-dice-six:before  {
    border-radius: 100%;
    background-image: linear-gradient( rgba(255, 255, 255, 0.021) 0%, rgba(2,0,36,1) 40%, rgba(2,0,36,1) 60%, rgba(255, 255, 255, 0) 100%);
}

@keyframes wobble {
    from {
        transform: translate3d(0, 0, 0);
    }

    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}